<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <!--<add name="SqlContext" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\fruti\OneDrive\Documents\parcelDB.mdf;Integrated Security=True;Connect Timeout=30"/>-->
    <add name="SqlContext" connectionString="Data Source=LAPTOP-67TE4KJG;Integrated Security=SSPI;Connect Timeout=30"/>
    <!--<add name="SqlContext" connectionString="Server=tcp:parcellogisticsks.database.windows.net,1433;Initial Catalog=ParcelLogisticSKS;Persist Security Info=False;User ID=myadmin;Password=Nemanjanico123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>-->
  </connectionStrings>
</configuration>